USE [ToDoList]
GO
/****** Object:  Table [dbo].[TO_DO_LIST]    Script Date: 20.01.2020 16:17:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TO_DO_LIST](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DATE] [date] NOT NULL,
 CONSTRAINT [PK_TO_DO_LIST] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TO_DO_TASK]    Script Date: 20.01.2020 16:17:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TO_DO_TASK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEXT] [text] NULL,
	[CHECKED] [bit] NOT NULL,
	[TO_DO_LIST_ID] [int] NOT NULL,
	[TO_REMIND] [bit] NOT NULL,
 CONSTRAINT [PK_TO_DO_ITEM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[TO_DO_LIST] ADD  CONSTRAINT [DF_TO_DO_LIST_DATE]  DEFAULT (getdate()) FOR [DATE]
GO
ALTER TABLE [dbo].[TO_DO_TASK] ADD  CONSTRAINT [DF_TO_DO_ITEM_CHECKED]  DEFAULT ((0)) FOR [CHECKED]
GO
ALTER TABLE [dbo].[TO_DO_TASK] ADD  CONSTRAINT [DF_TO_DO_TASK_TO_REMIND]  DEFAULT ((0)) FOR [TO_REMIND]
GO
ALTER TABLE [dbo].[TO_DO_TASK]  WITH CHECK ADD  CONSTRAINT [FK_TO_DO_ITEM_TO_DO_LIST] FOREIGN KEY([TO_DO_LIST_ID])
REFERENCES [dbo].[TO_DO_LIST] ([ID])
GO
ALTER TABLE [dbo].[TO_DO_TASK] CHECK CONSTRAINT [FK_TO_DO_ITEM_TO_DO_LIST]
GO
